/* 头部 */
header{
    padding:  10px 20px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
}
 header i.icon{
     font-size: 20px;
}
.container header .share{
    font-size: 24px;
}
/* 导航 */
nav{
    width: 100%;
}
nav img{
    width: 100%;
}

/* 投票列表 */
.content{
    background-color: #efefef;
    width: 100%;
    padding: 10px;
}
.content .item{
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    margin:0 auto 10px;
    position: relative;
}
.content .item img{
    width: 100%;
}
.content .item .bottom{
   background-color: #fff;
   margin: auto;
   padding: 5px 0 0;
   display: flex;
   justify-content: space-between;  
   color: #868686; 
   border-radius: 4px;
}
.bottom .b_left{
    font-size: 16px;
}
.bottom .b_left .time{
    font-size: 12px;
    margin-top: 5px;
    color: #9C9C9C;
}
.bottom .b_right{
    font-size: 16px;
    color: #FC5D07;
    display: flex;
    align-items: center;
}
/* 查看活动 */
.more{
    font-size: 24px;
}