.sensitive{
    padding-left: 20px;
     padding-top: 10px;
     padding-right: 20px;
 }
 .sensitive-content{
     padding-top:2rem;
 }
 .b-r{
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }
 th{
     padding:8px;
 }
 td{
     line-height:3rem!important;
 }
 .table-hea{
     background:#337ab7;
     color:#fff;
     border-radius:5px;
 }
 tbody:hover{
     background-color:#666;
 }